
  .formcontato{
    background-color:#EAF2FD;
  }

  .formcontato__contacto{
    display: flex;
  }
  
  .formcontato__img{
    width:250px ;
    height:300px ;
    padding: 40px;
  }
  
  .formcontato__boton{
    background-color: #4169E1;
    color: white;
    padding: 15px;
    border: none;
    font-size: 14px;
  }
  
  .link__form{
    text-align: center;
    font-weight: bold;
    color: blue;
  }
  
    /*movil*/
@media (max-width: 750px) {

  .formcontato__img{
    visibility: hidden;
  }
  
   .formcontato__text{
     position: absolute;
   }
   
  .formcontato__boton{
    padding: 10px;
    font-size: 12px;
  }
}
   
 
    
   
   
