  
  .experience__section__title{
    text-align: center;
  }
  
  
  .experience{
    padding-bottom: 20px;
  }
  
  .experience__img{
    display:flex;
    width: 314;
    height: 600px;
    margin:0 auto;
  }
  
  .experiencie__box{
    display: flex;
    align-items: center ;
  }
  
  .experience__boton--demo{
    background-color: #4169E1;
    color:white;
    padding:10px;
    border:none;
    cursor: pointer;
  }
  
  .experiencia__boton--repo{
    padding: 10px;
    border: 1px solid blue;
    cursor: pointer;
  }
  
  .experiencia__boton--repo:hover{
    background-color:green;
    font-weight: bold;
  }
  
  .experience__boton--demo:hover{
    background-color: green;
  }
  
      /*movil*/
@media (max-width: 425px) {
   .experiencie__box{
    display: flex;
    flex-direction: column;
  }
  
  .experience__info{
    padding-top: 20px;
  }

}