
  .academic{
    background-color: #EAF2FD;
    border-sizing:border-box;
  }

  .academic__title{
    text-align: center;
    padding-top: 20px;
  }
  
  .academic__courses{
    display: flex;
    flex-wrap: wrap;
  }
  
   .academic__link:hover{
     cursor: pointer;
     color: green;
     font-weight: bold;
  }
   
  
  @media (min-width: 768px) {
   .academic__courses{
    display: flex;
    flex-wrap: wrap;
  }
}

 @media (min-width: 425px) {
  .academic__courses{
    display: flex;
    flex-wrap: wrap;
  }
}
  