

  .hobbies__title{
    text-align: center;
  }
  
  .hobbies__line{
    display: flex;
    justify-content: space-between;
  }
  
  .hobbies__box:hover{
    transform: scale(1.5);
    cursor: pointer;
  }
  
    /*Tablet*/
@media (min-width: 768px) {

/* Menú */

/*title*/

/*Skills*/
  .hobbies__line{
    display: flex;
    flex-wrap: wrap;
  }
/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

}