

  .hobbies__title{
    text-align: center;
  }
  
  .hobbies__line{
    display: flex;
    justify-content: space-between;
  }
  
  .hobbies__box:hover{
    transform: scale(1.5);
    cursor: pointer;
  }
  
    /*Tablet*/
@media (min-width: 768px) {
  .hobbies__line{
    display: flex;
    flex-wrap: wrap;
  }
}