
  
  .skills__title{
    text-align: center;
  }
  
  .skills__line{
    display: flex;
    justify-content: space-between;;
  }
  
  .skills__box:hover{
    transform: scale(1.5);
    cursor: pointer;
  }
  
  /*Tablet*/
 @media (min-width: 425px) {
  .skills__line{
    display:flex;
    flex-wrap: wrap;
  }
}
  
  