
  .title__profile{
    width: 150px;
    height: 150px;
    border-radius:50%;
    float: right;
    text-align:justify;
    
  }
  
  .title__network{
    display: flex;
    justify-content: space-between;
    align-items:center;
  }
  
  .title__network__item:hover{
    transform: scale(1.3);
    cursor: pointer;
 }